<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Return a book</h1>
      <div class="form-container">
        <%= form_for @booking, method: :delete do |f| %>
          <%= f.select :id, options_for_select(@bookings.map { |m| [m.book.title, m.id]}) %>
          <%= f.submit "Return book", class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
