<div class="container">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <p><%= @user.email %></p>
  <p>Picture of the user</p>
  <p>Borrowed books : </p>
  <ul>
    <% @user.books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
</div>
