<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Update the book <%= @book.title %></h1>
      <%= render 'shared/book_form' %>
    </div>
  </div>
</div>
